DATABASE_URL=postgres://postgres:YOUR_PASSWORD@localhost:5432/ap2_final?sslmode=disable
USER_SERVICE_GRPC_ADDR=:50051

REDIS_ADDR=localhost:6379
NATS_URL=nats://localhost:4222

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
