# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Build / binaries
# =========================
bin/
dist/
build/

# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# =========================
# Go cache
# =========================
vendor/
coverage.out

# =========================
# Docker
# =========================
docker-data/
*.tar

# =========================
# Node (если есть фронт)
# =========================
node_modules/
npm-debug.log*

# =========================
# JetBrains / temp
# =========================
*.tmp
*.swp